<div class="add-btns-wrapper">
    <a class="add-btn" href="/new/book">Add Book</a>
    <a class="add-btn" href="/new/author">Add Author</a>
    <a class="add-btn" href="/new/genre">Add Genre</a>
</div>