<div class="add-btns-wrapper">
    <a class="add-btn" href="/books/new">Add Book</a>
    <a class="add-btn" href="/authors/new">Add Author</a>
    <a class="add-btn" href="/genres/new">Add Genre</a>
</div>