<dialog class="category-bar" closedby="closerrequest">
    <div class="close-btn-wrapper">
        <button type="button" class="close-bar-btn">X</button>
    </div>
    <p class="category-bar-title"><%= locals.barTitle %></p>
    <ul class="category-list">
        <% for (let choice of categoryList) { %>
            <li class="category-item">
                <a class="category-choice-name" href="<%= `${locals.categoryName}`/${choice.id} %>"><%= choice.name %></a>
                <a href="<%= `${locals.categoryName}/edit/${choice.id}` %>">Edit Details</a>
            </li>
        <% } %>
    </ul>
</dialog>