@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "roboto", sans-serif;
    --primary-color: #241E4E;
    --secondary-color: #a2bac9;
    --dark-color: #111111;
    --light-color: #FCFAFA;
}

#root {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
}

header > p.logo {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--light-color);
}

header > nav {
    display: flex;
    gap: 4rem;
}

header a {
    color: var(--light-color);
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main {
    background-color: var(--secondary-color)
}

.add-btns-wrapper {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
    gap: 4rem;
    flex-wrap: wrap;
}

.add-btn {
    text-decoration: none;
    color: var(--light-color);
    background-color: var(--primary-color);
    padding: .6rem 1.2rem;
    will-change: transform;
    transition: transform .1s ease-in-out;
    font-size: 1.3rem;
    box-shadow: 2px 5px 5px 0px var(--dark-color);
}

.add-btn:hover {
    transform: scale(1.1);
}

.book-card {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: fit-content;
    padding: 2rem 2rem 3rem 2rem;
    box-shadow: 0px 0px 10px 0px var(--dark-color);
}

.book-img-wrapper {
    width: 196px;
    height: 280px;
}

.book-img-wrapper > img {
    width: 100%;
    height: 100%;
    border: 2px solid var(--secondary-color);
}

.book-title {
    font-size: 1.3rem;
    color: var(--light-color);
    width: 22ch;
    text-align: center;
}

.book-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    color: var(--light-color);
}

.book-card a {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    padding: .5rem 2rem;
    font-size: 1.1rem;
    border: 1px solid var(--secondary-color);
    max-width: 321px;
}

.book-card a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

section.all-books {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 321px);
    gap: 3rem;
    margin: 0 auto 5rem auto;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 1rem 0;
}

p.book-form-title {
    text-align: center;
    margin: 4rem 0;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: bold;
}

.form-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-form {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

.book-details, .category-info {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: .2rem;
}

input {
    font-size: 1.2rem;
    outline: none;
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: .2rem .4rem;
    border: 1px solid var(--primary-color);
    width: 250px;
    height: 2.5rem;
}

input:hover, input:focus {
    border-color: var(--light-color);
}

input[type="file"] {
    display: none;
}

label.file-label {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: .8rem 1.8rem;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 2px 5px 5px 0px var(--dark-color);
    margin-left: 0;
    outline: none;
    will-change: transform;
    transition: transform .1s ease-in-out;
}

label.file-label:hover, label.file-label:focus {
    transform: scale(1.1);
}

select {
    font-size: 1.2rem;
    height: 2.5rem;
    width: 250px;
    background-color: var(--primary-color);
    color: var(--light-color);
    outline: none;
    padding: .2rem;
    border: 1px solid var(--primary-color);
}

select:hover, select:focus {
    border-color: var(--light-color);
}

.form-add-btn {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--light-color);
    background-color: var(--primary-color);
    padding: .7rem 1.1rem;
    cursor: pointer;
    border: none;
    box-shadow: 2px 5px 5px 0px var(--dark-color);
    will-change: transform;
    transition: transform .1s ease-in-out;
}

.form-add-btn:hover, .form-add-btn:focus, .del-btn:hover, .del-btn:focus {
    transform: scale(1.1);
}

.form-errors {
    margin-bottom: 1.5rem;
    list-style: none;
}

.form-error {
    color: crimson;
    font-size: 1.2rem;
    font-weight: bold;
}

.del-btn {
    cursor: pointer;
    background-color: crimson;
    color: var(--light-color);
    font-size: 1.2rem;
    font-weight: bold;
    padding: .7rem 1.1rem;
    border: none;
    box-shadow: 2px 5px 5px 0px var(--dark-color);
    will-change: transform;
    transition: transform .1s ease-in-out;
}

.edit-form-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 5rem;
}

.category-main-title {
    text-align: center;
    margin-bottom: 4rem;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-size: clamp(1rem, .6rem + 2vw, 1.6rem);
    font-weight: bold;
}

.category-bar {
    position: fixed;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border: none;
    background-color: var(--primary-color);
    padding: 1rem;
    box-shadow: 0px 0px 10px 0px var(--dark-color);
    transform-origin: left;
    animation-name: slidein;
    animation-fill-mode: backwards;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

.category-bar-open-btn {
    position: fixed;
    top: 20%;
    display: flex;
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
    padding: .2rem;
    box-shadow: 2px 5px 5px 0px var(--dark-color);
    will-change: transform;
    transition: transform .1s ease-in-out;
    transform-origin: left;
}

.category-bar-open-btn:hover, 
.close-bar-btn:hover,
.category-list > li > :nth-child(2):hover  {
    transform: scale(1.1);
}

.category-bar-open-btn > img {
    filter: brightness(0) 
    saturate(100%) 
    invert(91%) sepia(3%) 
    saturate(3078%) 
    hue-rotate(174deg) 
    brightness(82%) 
    contrast(90%);
    width: 43px;
}

.hidden {
    display: none;
}

.close-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.close-bar-btn {
    cursor: pointer;
    border: none;
    background-color: var(--secondary-color);
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--primary-color);
    padding: .2rem .6rem;
    box-shadow: 2px 5px 5px 0px var(--dark-color);
    will-change: transform;
    transition: transform .1s ease-in-out;
}

.category-bar-title {
    font-size: 1.5rem;
    color: var(--light-color);
}

.category-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.category-list > li > :first-child {
    color: var(--light-color);
    text-decoration: none;
    font-size: 1.2rem;
    max-width: 16ch;
    word-break: break-word;
}

.category-list > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}

.category-list > li > :first-child:hover {
    text-decoration: underline;
}

.category-list > li > :nth-child(2) {
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
    padding: .2rem .6rem;
    box-shadow: 2px 5px 5px 0px var(--dark-color);
    will-change: transform;
    transition: transform .1s ease-in-out;
}


@keyframes slidein {
    0% {transform: scaleX(0); opacity: 0;}
    70% {transform: scaleX(1.1);}
    100% {transform: scaleX(1); opacity: 1;}
}


@media screen and (width <= 500px) {
    header {
        flex-direction: column;
        gap: 1rem;
    }
}